@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #2f3136;
  z-index: 1;
  transition-duration: 300ms;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@layer components {
  .bg-gray {
    background-color: #e8e8e8;
  }
  .center {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    bottom: 50%;
  }

  .white-gradient-background {
    background: linear-gradient(
      to top,
      rgba(255, 255, 255, 1),
      rgba(0, 0, 0, 0)
    );
  }

  .flex-row {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
  }

  .align-center-center {
    place-content: center;
    align-items: center;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
  bg-gray-400 hover:bg-green-600 dark:bg-gray-800 
  text-green-500 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg;
  }
  // scale 0 invisible
  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }
}
